@import url('https://static.saintic.com/iconfont/iconfont.min.css');

a {
    text-decoration: none;
}

/*强调色—成功*/
.is-success,
.is-success a,
a.is-success {
    color: #5eb95e;
}
.is-success a:hover,
a.is-success:hover {
    color: #5eb95e;
}

/*强调色—危险*/
.is-danger,
.is-danger a,
a.is-danger {
    color: #dd514c;
}
.is-danger a:hover,
a.is-danger:hover {
    color: #dd514c;
}

/*强调色—警告*/
.is-warning,
.is-warning a,
a.is-warning {
    color: #f37b1d;
}
.is-warning a:hover,
a.is-warning:hover {
    color: #f37b1d;
}

/*强调色—错误*/
.is-error,
.is-error a,
a.is-error {
    color: #c00;
}
.is-error a:hover,
a.is-error:hover {
    color: #c00;
}

/*辅助色—浅黑*/
.is-333,
.is-333 a,
a.is-333 {
    color: #333;
}
.is-333 a:hover,
a.is-333:hover {
    color: #333;
}

/*辅助色—灰色*/
.is-666,
.is-666 a,
a.is-666 {
    color: #666;
}
.is-666 a:hover,
a.is-666:hover {
    color: #666;
}
.is-999,
.is-999 a,
a.is-999 {
    color: #999;
}
.is-999 a:hover,
a.is-999:hover {
    color: #999;
}
